<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自定义Realm -->
    <bean id="myRealm" class="com.daiqi.realm.MyRealm"/>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>

    <!--自定义shiro过滤连-->
    <bean id="roleor" class="com.daiqi.realm.filter.UserRolesAuthorizationFilter"/>

    <!-- Shiro过滤器 -->
    <bean id="shiroFilter1" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/login.jsp"/>
        <property name="unauthorizedUrl" value="/login.jsp" />
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <property name="filterChainDefinitions">
            <value>
                /login=anon
                /admin/**=authc,roles[管理员]
                /role/**=authc,roles[管理员]
            </value>
        </property>
    </bean>

    <bean id="shiroFilter2" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/loginIndex.jsp"/>
        <property name="unauthorizedUrl" value="/loginIndex.jsp" />
        <property name="filters">
            <map>
                <entry key="roleor" value-ref="roleor"/>
            </map>
        </property>
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <property name="filterChainDefinitions">
            <value>
                /loginIndex=anon
                /index/**=anon
                /user/**=authc,roleor["管理员,用户"]
                /cuser/**=authc,roleor["管理员,用户"]
                /project/**=authc,roleor["管理员,用户"]
                /aproject/**=authc,roleor["管理员,用户"]
                /focus/**=authc,roleor["管理员,用户"]
                /message/**=authc,roleor["管理员,用户"]
                /feedback/**=authc,roleor["管理员,用户"]
            </value>
        </property>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro注解 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>